.content-banner {
  height: 716px;
  background: $gray-secondary url('/images/banners/banner-05.jpg') no-repeat
    center center / cover;
  color: $white;
  font-weight: 300;

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    position: relative;

    @include media-breakpoint-up('lg') {
      align-items: flex-end;
    }

    h1 {
      font-size: 49px;
      font-weight: bold;
      margin: 0;
      line-height: 53px;

      @include media-breakpoint-up('lg') {
        font-size: 75px;
        line-height: 80px;
      }
    }

    h2 {
      font-size: 27px;
      margin: 0;
      font-weight: inherit;

      @include media-breakpoint-up('lg') {
        font-size: 42px;
      }
    }
  }

  &-copy {
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: 70px;
    width: 56%;

    @include media-breakpoint-up('lg') {
      font-size: 14px;
      bottom: 24px;
      text-align: right;
      width: auto;
    }
  }
}
