.home-newsletter {
  padding: 30px 0;
  background-color: $gray-secondary;
  color: $white;
  font-size: 19px;
  text-transform: uppercase;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include media-breakpoint-up('lg') {
      flex-direction: row;
      gap: 36px;
      justify-content: center;
    }
  }

  label[for='home-newsletter'] {
    line-height: 1;
    text-align: center;

    span {
      font-size: 55px;
      display: block;
    }
  }

  // destul de gresit
  #home-newsletter {
    background-color: transparent;
    border: 0;
    padding: 8px;
    font-weight: 100;
    border-bottom: 1px solid $white;
    color: $white;

    @include media-breakpoint-up('lg') {
      width: 32.60188%; // 416 / 1276 * 100;
      align-self: center;
    }
  }

  [type='submit'] {
    align-self: center;
    background-color: transparent;
    border: 0;
    font-size: 19px;
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 132px;
    height: 60px;
    background: transparent url('/images/icons/mail-send.png') right center
      no-repeat;
  }
}
