@import './fonts';

// fontawesome
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid';

// bootstrap
// varianta de import cu alias din node_modules
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-utilities';

@import 'variables';
@import 'reset';

// shared
@import './shared/index';

// homepage
@import './homepage/index';

// catalog
@import './catalog/index';

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $gray-primary;
}
