// this is a layout study
// .catalog-preview.grid-layout
.catalog-preview {
  &.grid-layout {
    .product-tiles {
      display: grid;
      row-gap: 24px;

      @include media-breakpoint-up('lg') {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8.855799%;
      }
    }
  }

  &.flex-layout {
    .product-tiles {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      @include media-breakpoint-up('lg') {
        flex-direction: row;
        justify-content: space-between;

        & > .product-tile {
          flex-basis: 27.429467%;
        }
      }
    }
  }
}
