.product-tile {
  width: 100%;

  &-header {
    position: relative;

    .badge {
      top: 20px;
      right: 20px;
      position: absolute;
    }
  }

  &-image {
    display: block;

    img {
      width: 100%;
      display: block;
    }
  }
}
